.radio {
    margin-left: 108px;
    margin-bottom: 22px;
}

.radio::before {
}


.radio:checked::before {
}

.label {
}

.label span {
    margin-left: 10px;
}

.options {
    display: flex;
    flex-direction: column;
}
