.spanBlock {
    margin-left: 70px;
    display: flex;
    align-items: center;
    padding-top: 29px;
    margin-bottom: 16px;
}

.span {
    margin-left: 10px;
    color: #0080FF;
}

.input {
    margin: 29px 0 16px 70px;
    padding: 8px 0 8px 24px;
    max-width: 276px;
}

.pen {
}