.App {
    --header_height: 60px;
}

.hw {
    border: 1px solid #D9D9D9;
    border-left: none;
    border-right: none;
}

.hwTitle {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    margin-left: 70px;
}