.burgerMenuIcon {
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px 16px;
    box-shadow: 0 0 35px 30px rgba(29, 33, 38, 0.13);
    margin-bottom: 47px;
}

.header h1 {
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}